.App {
  text-align: center;
  background-color: #faedcd;
}

.App-logo {
  height: 200px;
  pointer-events: none;
}

.main {
  margin-left: -10%;
}


.Title_Header {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #f9c74f;
  min-height: 70px;
  font-size: calc(10px + 2vmin);
  text-shadow: 3px 3px 3px gray;
}

.index_margin {
  margin: 0 auto;
  width: 160px;
  height: 100px;
  border-right: 1px solid #f9c74f;
  text-align: left;
  font-size: large;
}

.index_li_margin {
  margin: 4px 0;
}

.article_title {
  display: block;
}

a:link {
  color: coral;
  font-size: large;
}

a:hover {
  color: #168aad;
}

a:active {
  color: #335c67;
}

.Header {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #f9c74f;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.grid {
  display: grid;
  grid-template-columns: 150px 1fr;
}

.tableForm {
  display: inline-block;

  font-size: x-large;
  background-color: #faedcd;
}

.table_title {
  font-size: xx-large;
}

.tb_style {
  text-align: left;
}

.td1 {
  width: 250px;
  background-color: rgb(236, 213, 155);
}

.td2 {
  width: 150px;
  background-color: #e7bc91;
}

.basic_butt {
  background: #fdc500;
  color: #003f88;
  border: none;
  position: relative;
  height: 60px;
  font-size: 1.6em;
  padding: 0 2em;
  cursor: pointer;
  transition: 800ms ease all;
  outline: none;
}

.basic_butt:hover {
  background: #003f88;
  color: #fdc500;
}

.basic_butt:before,
.basic_butt:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #fdc500;
  transition: 400ms ease all;
}

.basic_butt:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}

.basic_butt:hover:before,
.basic_butt:hover:after {
  width: 100%;
  transition: 800ms ease all;
}

.mine_button {
  /*#3c73ff*/
  border: 2px solid #0c0c0c;
  background-color: rgb(179, 148, 194);
  border-radius: 20px;
  color: #fff;
  transition: 0.3s;
  height: 35px;
  width: 100px;
}

.mine_button:hover {
  /*#99bdff*/
  box-shadow: 8px 8px rgba(146, 83, 177, 0.685);
  transition: 0.3s;
}

.sign_but_div {
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign_butt {
  margin-top: 30px;
  width: 140px;
  height: 45px;
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.sign_butt:hover {
  background-color: #2ee59d;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

ul {
  margin: 12px;
  padding: 0;
  list-style: none;
  width: 100%;
  max-width: 320px;
}
ul li {
  margin: 16px 0;
  position: relative;
}

.boxes {
  width: 500px;
  margin: auto;
  padding: 50px;
  background: #f5d999;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  font: 18px/30px "Open Sans", Arial, sans-serif;
  color: rgb(73, 73, 73);
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

input[type="checkbox"] + label:last-child {
  margin-bottom: 0;
}

input[type="checkbox"] + label:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #1e87b4;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.6;
  -webkit-transition: all 0.12s, border-color 0.08s;
  transition: all 0.12s, border-color 0.08s;
}

input[type="checkbox"]:checked + label:before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.wrap {
  display: block;
  position: absolute;
  top: 55%;
  left: 37%;
  width: auto;
  height: auto;
  margin-top: auto;
  margin-left: auto;
  border-radius: 2px;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  color: #2c3e50;
  font-family: "Open Sans", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(247, 213, 162);
}

.range_span {
	-webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	display: block;
	margin: 20px 50px;
	width: 250px;
	max-width: 250px;
	text-decoration: none;
	border-radius: 4px;
  font-size: x-large;
	padding: 20px 30px;
  color: rgba(30, 22, 54, 0.6);
	box-shadow: rgba(30, 22, 54, 0.4) 0 0px 0px 2px inset;
}

.hash_con_under1 {
  padding-top: 20px;
}

.hash_con_under2 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.hash_title {
  font-size: 19px;
  color: #8a5a44;
}

.hash_content {
  font-size: 18px;
  color: #bc6c25;
}

.log_head {
  color: #335c67;
}

.footer {
position:fixed;
  left:0px;
  bottom:0px;
  height:60px;
  width:100%;
  color: black;
}